section {
	width: 800px;
	margin: 100px auto;
}
section h1,
        color: #7a3535;
section p {
	text-align: center;
	color: #454545;
}
section h1 {
<<<<<<< HEAD
	font: 24px 'Open Sans';
=======
	/*font: 32px 'Open Sans';*/
>>>>>>> experiments
	font-weight: bold;
}
section p {
	font: 16px 'Open Sans';
}